<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="AMS" connectionString="DATA SOURCE=10.108.135.231; UID=amslogin05; PWD=MoJ$t0$xAMSxps; INITIAL CATALOG=AMS;"/>
  </connectionStrings>
  <appSettings>
    <add key ="LogFolderPath" value = "D:\\Backups\\Rambabu\\LogFilesBing\\"/>
    <add key ="BingFolderPath" value = "D:\\Backups\\Rambabu\\BingAdWords"/>
    <add key ="DeleteFiles" value = "Yes"/>
  </appSettings>
</configuration>